<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav class='banner'>
    <ul>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/comments">Comments</a></li>
      <li><a href="/posts/new">New Post</a></li>
      <li><a href="/comments/new">New Comment</a></li>
    </ul>
  </nav>
</header>

<%= yield %>

</body>
</html>
