<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1>
  <nav>
    <a href="/posts">Posts</a>
    <a href="/comments">Comments</a>
    <a href="/posts/new">New Post</a>
    <a href="/comments/new">New Comment</a>
  </nav>
  </h1>
</header>

<%= yield %>

</body>
</html>
